$primary-color: #46546a;
$gray: #f2f2f2;
$primary-gray: #e8e8e8;
$white: #fff;
$black: #000;
$yellow: #f48f00;

$header-bg-color: $gray;
$input-bg-color: $gray;
$warning-color: $yellow;

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1280px;
$gutter: 20px;

$font-family: Arial, Helvetica, sans-serif;
$font-size: 16px;
