@import '../../styles/core';

.header {
  color: $white;
  background-color: $primary-color;

  .container {
    display: flex;
    align-items: center;
    padding: 10px $gutter;
  }
}

.brand {
  width: 32px;
}

.nav {
  margin-left: auto;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: $white;

  &.active {

  }
}
