@import '../@theme/styles/core';

.content {
  padding: $gutter;
}

.title {
  margin: 0;
  font-size: 18px;
}

.search-bar {
  display: block;
  margin-top: 10px;
}

.list-title {
  margin: 20px 0 0;
  font-size: 18px;
}
