<app-header></app-header>
<div class="container">
  <main class="content">
    <p class="warning" *ngIf="isUpdateAvailable">
      A new version of this app is Available! Refresh the page to see it.
    </p>
    <h1 class="title">Search Github Users</h1>
    <app-search-bar
      class="search-bar"
      placeholder="Type a user name"
      label="Search for Github users"
      (search)="onSearch($event)">
    </app-search-bar>
    <p class="warning" *ngIf="!isNetworkAvailable">
      Sorry, you need internet connection to search for users.
    </p>
    <section *ngIf="userList.length > 0">
      <h2 class="list-title">Users Found</h2>
      <app-list aria-live="polite" [items]="userList">
      </app-list>
    </section>
  </main>
</div>
